# Rename this file to ".env" and edit it with Google Service Account credentials


TYPE = "service_account"
PROJECT_ID = "PROJECT_ID"
PRIVATE_KEY_ID = "KEY_ID"
PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----\nPRIVATE_KEY\n-----END PRIVATE KEY-----\n"
CLIENT_EMAIL = "SERVICE_ACCOUNT_EMAIL"
CLIENT_ID = "CLIENT_ID"
AUTH_URI = "https://accounts.google.com/o/oauth2/auth"
TOKEN_URI = "https://accounts.google.com/o/oauth2/token"
AUTH_PROVIDER_URL = "https://www.googleapis.com/oauth2/v1/certs"
CLIENT_URL = "https://www.googleapis.com/robot/v1/metadata/x509/SERVICE_ACCOUNT_EMAIL"



